List Assignment............

Q:1) Create an ampty list.

In [6]:
myList=[ ]
print(myList)  # it will print nothing.......

[]

Q:2) Create an list and add an element to the end of the list.

In [8]:
# creating a list.............
my_list=[3006, 'Rohit', 10.00]
print(my_list)

[3006, 'Rohit', 10.0]

In [13]:
# adding an element...........
my_list.append('Jaiswal')
print(my_list)

# append() function only add the elements at the end...if you want to add an element in between, use inserta() function.

[3006, 'Rohit', 10.0, 'Jaiswal', 'Jaiswal', 'Jaiswal', 'Jaiswal']

Q:3) For the above created list print the last element.

In [16]:
last_element=my_list[-1]
print(last_element)

Jaiswal

Q:4) Reverse the above created list.

In [17]:
reverse=my_list[::-1]
print(reverse)

['Jaiswal', 'Jaiswal', 'Jaiswal', 'Jaiswal', 10.0, 'Rohit', 3006]

Q:5) Sort the above created list.

In [18]:
# To sort the list we can use sort() function
new_list=[1,7,4,2,0]
new_list.sort()
print(new_list)
# it will sort in asscending order..

[0, 1, 2, 4, 7]

In [20]:
#To sort a list in descending order we use sort(reverse=True) function
new_list.sort(reverse=True)
print(new_list)

[7, 4, 2, 1, 0]

Q:6) Create a list of your top three favorite movies, then print the second movie title.

In [21]:
movie=['pathan', 'SitaRamam', 'Kuch Kuch Hota hai']
print(movie)

['pathan', 'SitaRamam', 'Kuch Kuch Hota hai']

In [23]:
second_movie=movie[1]
print(second_movie)    # Second movie title will be printed.

SitaRamam

Q:7) Create a list of your favorite animals, then add a new animals in your llist and print the uodated list.

In [24]:
animals=['Rabbit', 'Cat', 'Rat', 'Elephant']
animals.insert(1, 'ziraf')
print(animals)

['Rabbit', 'ziraf', 'Cat', 'Rat', 'Elephant']

Q:8) Create a list of your favorite cities , then use the index method to find the position of a specific city on the list and print it.

In [28]:
city=['Motihari', 'Patna ', 'Kolkata', 'Delhi']
print(city)

['Motihari', 'Patna ', 'Kolkata', 'Delhi']

In [31]:
special_city='Kolkata'
position=city.index(special_city)
print(position)

2