Strings Assignment..............

Q:1) How can we store a single quote (') as a string in a variable?

Ans:) We can put a backslash character followed by a quote (\" or \'). his is called an escape sequence and python will remove the backslash and put just the quote in the string.

In [1]:
# For example...........
st='Rohit\'s habbit is very good'
print(st)

Rohit's habbit is very good

Q:2) Refer the below variable x='a'. Here, is x a character type or string type variable?

Ans:) The given variable x is string type. See the below example.

In [2]:
# for example........
x='a'
print(x)

a

In [3]:
type(x)

str

Q:3) Apply the following functions on this variable 'Welcome to python foundation course'
     1. find() 2. count() 3. len()   4. concatenation

In [5]:
s='Welcome to python foundation course'
print(s)

Welcome to python foundation course

In [11]:
# 1. find()
s.find('course')    # it will return the first occurence of the index

29

In [16]:
# 2. count()
s.count('t')  # it will count how many times t will be occured in string

3

In [17]:
# 3. len()
len(s)   # it will find the length of string

35

In [19]:
# 4. Concatenation 
print(s + " " + 'enrolled by Rohit Jaiswal')

Welcome to python foundation course enrolled by Rohit Jaiswal

Q:4) For the var1able: word = â€˜PanaJi@12256'
Calculate the follow1ng:
(a) Total number of alphabets in lowercase
(b) Total number of alphabets in uppercase
(c) Total number of numerical in string

In [20]:
word='PanaJi@12256'
print(word)

PanaJi@12256

In [26]:
# a) Total number of alphabets in lowercase....
word='PanaJi@12256'
count = 0
for letter in word:
    if letter.isalpha() and letter.islower() :
        count+=1
print('Total number of alphabets in lowercase is:', count)

Total number of alphabets in lowercase is: 4

In [27]:
# b) Total number of alphabets in upprcase .........
word='PanaJi@12256'
count=0
for letter in word :
    if letter.isalpha() and letter.isupper() :
        count+=1
print('Total number of alphabets in uppercase is:', count)

Total number of alphabets in uppercase is: 2

In [28]:
# c) Total number of numerical in string.............
word='PanaJi@12256'
count=0
for letter in word:
    if letter.isdigit() :
        count+=1
print('Total number of numeric digit in the string is : ', count)

Total number of numeric digit in the string is :  5

Q:5) Write a code to store a numerical value inside a variable then convert it into string.

In [29]:
# storing the numerical value.......
num=1234
# converting the numerical value in string........
string=str(num)

In [30]:
print(num)

1234

In [31]:
print(string)

1234

In [32]:
type(num)

int

In [34]:
type(string) # here our numerical value is converted into string..

str